extends layout

block content
	.modal.fade.pdf-viewer-wrapper#pdf-viewer-wrapper(tabindex="-1" , role="dialog" , aria-labelledby="formIncomplete" , aria-hidden="true")
		.modal-dialog.modal-sm
			.modal-content
				.modal-header
					button(type="button" , class="close" , data-dismiss="modal")
						span(aria-hidden="true")
							| &times;
						span(class="sr-only")
							| Close		
				.modal-body
					//- canvas#pdf-viewer
					//- iframe#pdf-viewer(src="./pdf/pdfjs/web/viewer.html?./pdf/" allowfullscreen)
					iframe#pdf-viewer(allowfullscreen)
	.container.archive
		.row
			
			if entries.length === 0
				h3 No entries yet. Create one!
			each entry in entries
				.col-md-3.col-xs-6
					.thumbnail
						.date= entry.createdAtPretty
						.author #{entry.lastName}, #{entry.firstName}
						h3.hidden-invisible.title= entry.title
						a.view-pdf(href="#" data-pdfpath="../../#{entry.pdfFileName}")
							img(src="./pdf/thumbnails/#{entry.thumbnailFileName}" , alt="#{entry.title}")
						.share

					