extends layout

block content


	.modal.fade.file-not-found#file-not-found(tabindex="-1" , role="dialog" , aria-labelledby="pdfNotFound" , aria-hidden="true")
		.modal-dialog.modal-sm
			.modal-content
				.modal-header
					h4.modal-title#fileNotFoundTitle Preliminary Materials Not Found
				.modal-body
					p.message
						| Oh no! The requested Preliminary Materials couldn't be found.
						br
						| Maybe try another one?
				.modal-footer
					button.btn.btn-default#close(type="button" , data-dismiss="modal") Close

	.modal.fade.pdf-viewer-wrapper#pdf-viewer-wrapper(tabindex="-1" , role="dialog" , aria-labelledby="formIncomplete" , aria-hidden="true")
		.modal-dialog.modal-sm
			.modal-content
				.modal-header
					button(type="button" , class="close" , data-dismiss="modal")
						span(aria-hidden="true")
							| &times;
						span(class="sr-only")
							| Close		
				.modal-body
					//- canvas#pdf-viewer
					iframe#pdf-viewer(src="" allowfullscreen)
	.container.archive
		.row
			
			if entries.length === 0
				h3.no-entries 
					| No entries yet. 
					a(href="/") Create one!
			each entry in entries
				.col-md-3.col-xs-6
					.thumbnail
						.date= entry.createdAtPretty
						.author #{entry.lastName}, #{entry.firstName}
						.share
						h3.hidden-invisible.title= entry.title
						a.view-pdf(href="#" data-pdffilename="#{entry.pdfFileName}" data-title="#{entry.title}")
							img(data-src="./pdf/thumbnails/#{entry.thumbnailFileName}" , src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" , onload="pmfatLzld(this)", alt="#{entry.title}")
						

					